@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Martel Sans", sans-serif;
}

main {
    background-image: url("images/image1.jpg");
    /* background-position: -220px -290px; */
    background-position: center center;
    background-repeat: no-repeat;
    /* background-size: max(2000px, 100vw); */
    height: 100vh;
    position: relative;

}

main .box {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.211);;
    opacity: 0.7;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    background-image: linear-gradient(to top, rgb(0, 0, 0, 0.95), rgb(0, 0, 0));
}

.head {
    padding: 24px 48px;
    margin: 0px 125px;
    display: flex;
    position: relative;
    z-index: 10;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
}

nav img {
    width: 9.25rem;
    height: 2.5rem;
    color: rgb(229, 9, 20);
    fill: currentColor;
    display: block;
    /* margin-top: 8px ; */
    /* margin-left: 16px; */
}

nav .sidebar {
    display: flex;
}

nav .lang {
    color: white;
    background-color: transparent;
    border: 2px solid rgba(128, 128, 128, 0.7);
    display: inline-flex;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-weight: 500;
    margin-right: 20px;
}
nav .lang:active{
    border: 3px solid white;
}

nav .btnsignin {
    background-color: red;
    color: white;
    width: 76px;
    height: 30px;
    font-weight: 600;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding-top: 3px;
}

nav .btnsignin:hover {
    background-color: rgb(199, 3, 3);
}

nav .lang img {
    height: 16px;
    width: 16px;
    padding-right: 10px;
    padding-top: 7px;
    padding-left: 5px;
}

nav .lang span {
    padding-top: 3px;
}

main .cont {
    position: relative;
    z-index: 5;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 190px;
    margin-left: 290px;
    margin-right: 290px;
}

main .cont h1 {
    font-size: 2.75rem;
    font-weight: 1000;
    text-align: center;
}

main .para1 {
    margin-top: 5px;
    font-size: 1.4rem;
    text-align: center;
}

main .para2 {
    margin-top: 15px;
    font-size: 1.2rem;
    text-align: center;
}

.cont form button {
    background-color: red;
    color: white;
    border-radius: 5px;
    width: 209px;
    height: 60px;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 5px;
    text-align: center;
}

.cont form button:hover {
    background-color: rgb(199, 3, 3);
}

.cont form button span {
    font-weight: 200;
}

.cont form input {
    padding-top: 15px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 15px;
    font-size: 1rem;
    background: transparent;
    width: 335px;
    line-height: 1.5;
    color: inherit;
    border-radius: 5px;
    border: 2px solid grey;
    background-color: black;
    filter: opacity(0.45);
    color: white;
}
input::placeholder{
    color: rgb(255, 255, 255);
}
.cont form{
    padding: 0px 32px;
    margin-top: 12px;
    text-align: center;

}
.cont form input[type=email]:focus {
    border: 3px solid white !important;
  }

.cont1{
    width: 100vw;
    height: 1000px;
    background-color: blueviolet;
}